body {
    background-color: #f0f0f0; /* Fondo gris claro */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
/* Contenedor principal */
.container {
    border: 0.125rem solid rgb(8, 86, 203); 
    border-radius: 0.25rem; 
    padding: 1.25rem; 
    width: 100%; 
    max-width: 25rem; 
    box-sizing: border-box; 
    background-color: white; 
}
#amount{
    padding: .8em;
}
#fromCurrency{
    padding: .8em;
}
#toCurrency{
    padding: .8em;
}
#result{
    padding: .8em;
}